<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="TeamCity" value="http://skydev01.dvcsales.co.uk:81/guestAuth/app/nuget/v1/FeedService.svc/" />    
  </packageSources>
 
</configuration>